<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="icon" href="/images/favicon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#000">
    <link rel="apple-touch-icon" href="/icons/icon-128x128.png">
    <title>Restaurant Apps Starter Project</title>

</head>

<body>
    <a class="skip" href="#main">Skip To Content</a>
    <nav>
        <div class="d-flex">
            <div class="logo">
                <i class="fas fa-utensils"></i>
                <h1>Fabulous<br><span>Resto</span></h1>
            </div>
            <div id="hamburger">
                <a href="#"><i class="fas fa-bars"></i></a>
            </div>
            <ul id="menu-container" class="menu-container">
                <li class="menu-item"><a href="#/home">Home</a></li>
                <li class="menu-item"><a href="#/favorite">Favorite</a></li>
                <li class="menu-item"><a href="https://www.linkedin.com/in/muhammad-hifni-485a74164/" target="_blink"
                        rel="noopener">About Us</a></li>
            </ul>
        </div>
    </nav>

    <header>

    </header>

    <main id="main" tabindex="0">
        <div class="container">
            <section id="restaurant-container" class="restaurant-container">
                <h2>Explore Restaurant</h2>
                <div class="restaurant-list">
                    <!-- <div class="gooey">
                        <span class="dot"></span>
                        <div class="dots">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div> -->
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>Copyright © 2021 - Fabulous Resto</p>
        </div>
    </footer>

</body>

</html>