* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(252, 252, 252, 1) 50%,
    rgba(248, 248, 248, 1) 80%,
    rgba(242, 242, 242, 1) 100%
  );
}

img {
  display: block;
}

a {
  min-width: 44px;
  min-height: 44px;
  display: block;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.container {
  padding: 32px;
  flex: 1;
}

.open {
  transform: translate(0px, 12px) !important;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

/* 
** Skip to content styling 
*/

a.skip {
  position: absolute;
  display: flex;
  align-items: center;
  text-decoration: none;
  background: #99a3a5;
  color: #fff;
  padding: 10px;
  top: -50px;
  z-index: 1500;
}

a.skip:focus {
  top: 0;
}

/* 
** NavBar Styling 
*/

nav {
  padding: 8px 32px;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 50;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

nav .d-flex {
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 0px 22px;
  border-bottom: 1px solid #fff;
}

nav li:hover {
  border-bottom: 1px solid;
}

.nav__hide {
  transform: translate(0, -77px);
  transition: transform 0.3s ease-in-out;
}

.nav__show {
  transform: translate(0, 0);
  transition: transform 0.3s ease-in-out;
}

nav li a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  font-size: 18px;
}

nav li hr {
  position: relative;
}

/**
** mobile nav 
*/
ul#mobile-nav {
  background: #9ba5a7;
  transform: translate(0px, -105px);
  transition: transform 0.3s ease-in-out;
  position: absolute;
  width: 100%;
}

#mobile-nav li {
  border-bottom: none;
}

/* 
** logo styling 
*/
.logo h1 {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.logo .fas.fa-utensils {
  font-size: 28px;
  font-weight: 300;
  margin-right: 2px;
}

/* 
** hamburger styling  
*/

#hamburger a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

/* 
** Hero Element Styling 
*/
header {
  margin-bottom: 2rem;
}

.hero-image {
  width: 100%;
  background-image: url('/images/heros/hero-image_2.jpg');
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 
** Restaurant styling 
*/
.restaurant-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  /* margin: 32px; */
}

.restaurant {
  background: #fff;

  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.restaurant .content {
  padding: 10px 24px;
}

.restaurant .image {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 145px;
  object-fit: cover;
}

.rating,
.city {
  font-size: 0.9rem;
}

.rating .fas.fa-star,
.rating p {
  color: #ffc107;
}

.rating .fas.fa-star,
.rating p,
.city p {
  display: inline-block;
}

.restaurant img,
.restaurant h3,
.restaurant .rating,
.restaurant .city,
.restaurant .description {
  margin-bottom: 7px;
}

.restaurant .city {
  margin-left: 15px;
}

i.fas.fa-map-marker-alt {
  color: #ff0000;
}

.restaurant p.description {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* 
** Footer styling  
*/

footer {
  background-color: #fff;
  padding: 25px;
}

footer p {
  text-align: center;
}
