@media screen and (max-width: 1195px) {
  .restaurant-list {
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 780px) {
  .restaurant p.description {
    font-size: 16px;
  }
}

@media screen and (max-width: 710px) {
  .restaurant .image {
    height: 325px;
  }
}

@media screen and (max-width: 650px) {
  #menu-container {
    display: block;
    position: absolute;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    transform: translate(0px, -200px);
    right: 0px;
    /* top: -126px; */
  }

  .hero-image {
    height: 250px;
  }

  .list_menu {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 650px) {
  #hamburger,
  #mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .restaurant .image {
    height: 300px;
  }

  .restaurant p.description {
    font-size: 17px;
  }
}

@media screen and (max-width: 380px) {
  nav li a {
    font-size: 16px;
  }

  .hero-image {
    height: 200px;
  }

  .restaurant .image {
    height: 195px;
  }

  .restaurant p.description {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .restaurant-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 820px) {
  .restaurant-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .hero-image {
    min-width: 1000px;
  }

  .restaurant-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .restaurant-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
