@media screen and (min-width: 1200px) {
  .hero-image {
    min-width: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-image {
    width: 100%;
  }
}

@media screen and (max-width: 1195px) {
  .restaurant-list {
    width: 100%;
    justify-content: space-around;
  }

  .restaurant {
    width: 45%;
  }
}

@media screen and (max-width: 1000px) {
  .restaurant {
    width: 380px;
  }

  .container {
    margin: 0 3.5rem;
  }

  .restaurant p.description {
    font-size: 17px;
  }
}

@media screen and (max-width: 900px) {
  .restaurant {
    width: 350px;
  }
}

@media screen and (max-width: 850px) {
  .restaurant {
    width: 320px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    margin: 0 3rem;
  }

  .restaurant {
    width: 300px;
  }

  .restaurant p.description {
    font-size: 16px;
  }
}

@media screen and (max-width: 710px) {
  .restaurant .image {
    height: 325px;
  }

  .restaurant {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  nav ul {
    justify-content: center;
  }

  #desktop-nav {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0 2rem;
  }

  .restaurant .image {
    height: 300px;
  }

  .restaurant p.description {
    font-size: 17px;
  }
}

@media screen and (max-width: 380px) {
  .container {
    margin: 0 1.2rem;
  }

  nav li a {
    font-size: 16px;
  }

  .hero-image {
    height: 200px;
  }

  .restaurant .image {
    height: 195px;
  }

  .restaurant p.description {
    font-size: 14px;
  }
}
